
@{
    ViewBag.Title = "История пари";
}

<h2>История пари</h2>

<div>
    Тип пари:
<select name="bets">
    <option value="all" selected>Все</option>
    <option value="ordinary">Ординары</option>
    <option value="express">Экспрессы</option>
</select>
    Результаты:
<select name="results">
    <option value="all" selected>Все</option>
    <option value="positive">Положительные</option>
    <option value="negative">Отрицательные</option>
    <option value="awaiting">Ожидающие ответа</option>
</select>
</div>
