
@{
    Layout = null;
}
@model RosBets.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Email</td>
                <td>
                    @Html.TextBoxFor(m=>m.Mail)
                </td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>
                    @Html.PasswordFor(m=>m.Password)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="Login" name="Login" value="Войти">
                </td>
            </tr>
        </table>
    });
</div>
</body>
</html>
