
<div class="filter-box container">
    <div class="bar col-md-4">
        <label for="bets">Тип пари:</label>
        <select name="bets" id="bets">
            <option value="all" selected>Все</option>
            <option value="ordinary">Ординары</option>
            <option value="express">Экспрессы</option>
        </select>
    </div>
    <div class="bar col-md-4">
        <label for="results">Результаты:</label>
        <select name="results" id="results">
            <option value="all" selected>Все</option>
            <option value="positive">Положительные</option>
            <option value="negative">Отрицательные</option>
            <option value="awaiting">Ожидающие ответа</option>
        </select>
    </div>
    <div class="bar col-md-4">
        <button class="btn-filter" name="show" id="show">показать</button>
    </div>
</div>
<div class="result-story">
    @Html.Action("CategorySearch", "Account")
</div>