.table-line {
    margin-top: 15px;
    font-size: 0.9em;
}
    .table-line > tbody > tr > td {
        font-size: 0.8em;
        line-height: 1.6em;
        vertical-align: middle;
    }

.table-td:hover {
    color: #ffffff;
    cursor: pointer;
    background-color:#2b2D42;
}

.clicked {
    color: #ffffff;
    background-color: #2b2D42;
}

.td-colspan-up{
    vertical-align:bottom;
}

.td-colspan-down {
    vertical-align: top;
}

#table-separator {
    line-height:0px;
    border-bottom: 2px solid #dddddd;
}