.table-line {
    margin-top: 15px;
    font-size: 0.9em;
}
.table-line > tbody > tr > td {
    line-height: 1.2em;
    vertical-align: middle;
}

.table-td:hover {
    color: #ffffff;
    cursor: pointer;
    background-color:#2b2D42;
}
.clicked {
    color: #ffffff;
    background-color: #2b2D42;
}
.table-bordered > tbody > tr > .match-table-border {
    border-bottom: 2px solid #dddddd;
    padding: 0px;
}

.table-bordered > tbody > tr > td {
    transition: background-color 300ms linear;
}

.table-bordered > tbody > tr > td.increased {
    background-color: green
}

    .table-bordered > tbody > tr > td.decreased {
        background-color: red
    }