

.main-menu {
    text-align: center;
    color: #EDF2F4;
    min-height: 500px;
    background: #2b2D42;
}

.cupon-menu {
    text-align: center;
    color: #EDF2F4;
    min-height: 500px;
    background: #2b2D42;
}

.main-image-box {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

    .main-image-box .info {
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-size: 3em;
        font-weight: 800;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
        color: white;
        position: absolute;
        top: 10%;
        left: 10%;
    }