.main {
    min-height: calc(150vh - 70px - 175px);
}
.background-main {
    background-color: white;
}

.main-menu {
    text-align: center;
    color: #EDF2F4;
    background: #2b2D42;
    padding-right: 0px;
    min-height: 0px;    
}

.cupon-menu {    
    text-align: center;
    color: #EDF2F4;
    min-height: 0px;
    padding:0px;
    position:fixed;
    right:0px;
    overflow-x:hidden;
    overflow-y:auto;
    max-height:700px;
}
@media only screen and (max-height:700px) {
    .cupon-menu {
        max-height: 500px;
    }
}
@media only screen and (max-width:990px){
    .cupon-menu{
        position: relative;
    }
}

.main-image-box {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.main-image-box .info {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 3em;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
}