.registration-index,
.login-index {
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;    
    min-height: calc(100vh - 70px - 175px);
}

.registration-index .registration-box,
.login-index .login-box {    
    margin-top: 100px;
    margin-bottom: 100px;
}

.registration-form, 
.login-form {
    max-width: 500px;
    margin: 0 auto;
}


.registration-form span,
.login-form .error {    
    font-weight: 700;
    color: #EF233C;
}

.registration-form .form-label,
.login-form .form-label {
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
}

.registration-form .form-text,
.login-form .form-text {
    padding: 10px;    
    width: 100%;
    -webkit-border-radius: 13px;
    border-radius: 13px;    
    font-size: 1em;
    text-decoration: none;    
    border: 2px solid rgba(0,0,0,0.1);
    background-color: transparent;
}

.registration-form .form-input, 
.login-form .form-input {
    text-align: center;
}

.registration-form .form-btn,
.login-form .form-btn {
    margin: 20px 0 0 0;
    line-height: 40px;
    font-size: 1em;
    padding: 0 20px 0 20px;
    text-align: center;
    color: #EDF2F4;
    height: 40px;
    border-radius: 40px;
    background: #D90429;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 8px 18px -8px #D90429;
    transition: all .2s ease-in-out;
}

.registration-form .form-btn:hover,
.login-form .form-btn:hover {
    box-shadow: 0 8px 18px -3px #D90429;
}
