.match-name {
    font-weight: bold;
    font-size: 1.1em;
}

.coupon {
    position: relative;
    padding: 4px 4px 6px 4px;
    max-width: 250px;
    margin: 5px auto;
    border: 1px solid #EDF2F4;
    font-size:0.8em;
}

.tab-content {
    padding: 0px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.coupon-span {
    text-align: left;
    margin: 2px 0px 2px 5px;
    display: block;
    min-width:140px;
}

.coefficient {
    text-align: right;
    min-width:20px;
}

.coupon-input {
    max-width: 90px;
    height: 22px;
    margin-left: 5px;
    line-height: 16px;
    margin-top: 5px;
}

.coupon-button {
    color:#EDF2F4;
    margin-top: 5px;
    height:22px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    line-height: 23px;
    background: #D90429;
    box-shadow: 0 5px 20px -4px #D90429;
    transition: all .2s ease-out;
}

.coupon-button-small {
    color: #EDF2F4;
    margin-top: 5px;
    height: 22px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    line-height: 23px;
    background: #D90429;
    box-shadow: 0 5px 20px -4px #D90429;
    transition: all .2s ease-out;
}

.coupon-button:hover, .coupon-button-small:hover{
    cursor:pointer;
}

.float-elem-left {
    float: left;
}
.float-elem-right {
    float:right;
}

.right-menu-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.fa-coupon, .fa-bigcross {
    position: absolute;
    right: 6px;
    top:6px;
}

.fa-coupon:hover, .fa-bigcross:hover {
    color: #D90429;
    cursor: pointer;
}

.toggle-coupon {
    padding: 0px 5px;
    border: none;
}

.toggle-coupon > li{
    width:50%;
    display:inline-block;
}

.toggle-coupon > li > a {
    padding:5px;
    border-radius: 0px;
    color: #EDF2F4;
    font-size:0.8em;
}

.toggle-coupon > li > a:hover {
    color: #D90429;
}

.login-error, .money-error {
    margin: 5px;
    padding: 10px;
    text-align: center;
    display: none;
    border: 1px solid #D90429;
    background-color: #D90429;
}

.bet-success {
    margin: 5px;
    padding: 10px;
    text-align: center;
    display: none;
    border: 1px solid #007300;
    background-color: #007300;
}

.coupon-message:hover {
    cursor: pointer;
}

.express-summary, .ordinary-summary {
    display: none;
}

.empty-input {
    font-size: 0.8em;
    text-align: center;
    margin: 2px;
    display: none;
    min-width: 140px;
    border: 1px solid #D90429;
    background-color: #D90429;
}
