.btn-filter {
    margin: 20px 0 0 0;
    line-height: 40px;
    font-size: 1em;
    padding: 0 20px 0 20px;
    text-align: center;
    color: #EDF2F4;
    height: 40px;
    border-radius: 40px;
    background: #D90429;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 8px 18px -8px #D90429;
    transition: all .2s ease-in-out;
}

#wrapper-dropdown {
    height: 60px;
    background: transparent;
}

.result-box {
    margin: 20px 0 20px 0;
}

.result-box .result-box__name {
    background: #ccc;    
    border-top: 2px solid #D90429;  
    padding: 10px;
}

.result-box .result-box__half {    
    border-top: 2px solid #D90429;    
}

.result-box .result-box__info {
    padding: 0px;
    margin-bottom: 15px;
}

.result-box .result-box__match {
    border-bottom: 1px solid #ccc;    
}

.result-box .result-box__match:nth-last-child(1) {
    border-bottom: none;    
}

.result-box__item {
    padding: 10px;    
}

.result-box__item_date, .result-box__item_score {
    border-left: 1px solid #ccc;    
}
