/**
    Header Section
*/
@import '_header.css';
@import '_main-page.css';
@import '_footer.css';
@import '_left_column.css';
@import '_right_column.css';
@import '_registration-form.css';
@import '_account-details.css';

/*
    main-color: #2b2D42;
    interactive color: #EF233C;
    text color: #EDF2F4;
*/

html {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#back-layer {
    background-color: #2b2D42;
}