/**
    Header Section
*/
@import '_header.css';

/*
    main-color: #2b2D42;
    interactive color: #EF233C;
    text color: #EDF2F4;
*/

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.icons-conteiner {
    margin: 10px auto;
    overflow: auto;
}

.icons {
    background-image: url(img/icons_sprite.png);
    width: 50px;
    height: 50px;
}

.icon-bar {
    margin: 50px 0px;
}

#instagram {
    background-position-x: 0px;
}

#skype {
    background-position-x: -51px;
}

#linkedin {
    background-position-x: -102px;
}

#vkontakte {
    background-position-x: -153px;
}

#youtube {
    background-position-x: -204px;
}

#github {
    background-position-x: -255px;
}

#facebook {
    background-position-x: -306px;
}

.icons:hover {
    opacity: 0.5;
}