/**
    Header Section
*/
@import '_header.css';
@import '_main-page.css';
@import '_footer.css';
@import '_left_column';
@import '_right_column';

/*
    main-color: #2b2D42;
    interactive color: #EF233C;
    text color: #EDF2F4;
*/

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-----------footer start--------------*/
.icons-conteiner {
    margin: 10px auto;
    overflow: auto;
}

.icons {
    background-image: url(img/icons_sprite.png);
    width: 50px;
    height: 50px;
}

.icon-bar {
    margin: 50px 0px;
}

#instagram {
    background-position-x: 0px;
}

#skype {
    background-position-x: -51px;
}

#linkedin {
    background-position-x: -102px;
}

#vkontakte {
    background-position-x: -153px;
}

#youtube {
    background-position-x: -204px;
}

#github {
    background-position-x: -255px;
}

#facebook {
    background-position-x: -306px;
}

.icons:hover {
    opacity: 0.5;
}
/*-----------footer end--------------*/

/*-----------left column start--------------*/
.bootstrap-cancel {
    background-color:none;
}
.leftmenu{
    color: #EDF2F4;
    padding: 0px;
}

.leftmenu li {
    list-style-type:none;
    padding: 0px;
    border-bottom: 1px solid #EDF2F4;
}

.leftmenu a{
    display:block;
    text-decoration: none;
    color: #EDF2F4;
    font-size:20px;
    margin:0px;
    padding:10px 20px;
    text-align:left;
}
    .leftmenu a:hover {
        color: #D90429;
        cursor: pointer;
        background-color: #EDF2F4;
    }
#footer-menu{
    margin-top:40px;
}

/*-----------left column end--------------*/