@model List<RosBets.Models.Sport>

@{
    ViewBag.Title = "ShowResults";
}

<div class="container">
    @using (Html.BeginForm("MyShowResults", "Results", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                <label for="bets">Вид спорта:</label>
                <select name="bets" id="bets">
                    <option value="Все" selected>Все</option>
                    @foreach(var sport in Model)
                    {
                        <option value="@sport.Name" id="sport">@sport.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <input id="date" type="date">
            </div>
            <div class="col-md-4">
                <button class="btn-filter" name="show" id="show">показать</button>
            </div>
        </div>
     }
    <div class="result-story" id="result-story">
        @Html.Action("MyShowResults", "Results")
    </div>
</div>
@Scripts.Render("")
