@{
    ViewBag.Title = "View";
}
@model  IEnumerable<RosBets.Models.Match>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td align="center">Дата</td>
                <td align="center">Название матча</td>
                <td colspan="20" align="center">Коэффициенты</td>
            </tr>
            <tr>
                <td colspan="2" align="center">Исходы</td>
                </tr>
            @foreach (var match in Model)
            {
                <tr>
                    <td>
                        @match.Date
                    </td>
                    <td>
                        @match.MatchName
                    </td>
                        @foreach (var events in @match.MatchEvents)
                        {
                            <td>
                                <a href="#">@events.EventValue</a>
                            </td>
                        }
                </tr>
            }
        </table>
        }
    </div>
</body>
</html>