@{
    ViewBag.Title = "View";
}
@model  IEnumerable<RosBets.Models.Match>

        <table class="table table-line">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Событие</th>

                    <th>Т</th>
                    <th>Б</th>
                    <th>М</th>

                    <th>П1</th>
                    <th>Х</th>
                    <th>П2</th>

                    <th>1Х</th>
                    <th>12</th>
                    <th>Х2</th>

                    <th>iT</th>
                    <th>Б</th>
                    <th>М</th>
                </tr>
            </thead>
            <tbody class="tbody-line">
                @foreach (var match in Model)
                {
                    @Html.Partial("_MatchInfo", match)
                }
            </tbody>
        </table>
