@{
    ViewBag.Title = "RosBets";    
}
@model RosBets.Models.News

<div class="main-image-box">
    <div class="info">
        <p>RosBets is a free web platform for making money online</p>
    </div>
    <div class="main-image">
        <img class="img-responsive" src="~/Content/img/main.jpg"/>
    </div>
    <div class="current-news">
        <p><strong>ПАРИ ДНЯ</strong></p>
        <p>@Model.Caption</p>
        <p>@Html.Raw(Model.Text)</p>
    </div>

</div>

            
        