@{
    ViewBag.Title = "Home Page";
}

<section class="index-page">
    <div class="row no-gutters">
        <div class="main-menu col-md-2 col-xs-12">
            <h2>Линия</h2>
        </div>
        <div class="main col-md-8 col-xs-12">            
                <div class="main-image-box">
                    <div class="info">                        
                        <p>RosBets is a free web platform for making money online</p>
                    </div>
                    <div class="main-image">
                        <img class="img-responsive" src="~/Content/images/main.jpg" />
                    </div>
                </div>            
        </div>
        <div class="cupon-menu col-md-2 col-xs-12">
            <h2>Купон</h2>
        </div>
    </div>
</section>