@{
    ViewBag.Title = "Home Page";
}

<section class="index-page">
    <div class="row no-gutters">
        <div class="main-menu col-md-2 col-xs-12">
            <ul class="leftmenu">
                <li><h2>Линия</h2></li>
                <li><a href="#">Футбол</a></li>
                <li><a href="#">Хоккей</a></li>
                <li><a href="#">Теннис</a></li>
                <li><a href="#">Баскетбол</a></li>
                <li><a href="#">Бокс</a></li>
                <li><a href="#">Сумо</a></li>
                <li><a href="#">Шахбокс</a></li>
            </ul>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" data-toggle="collapse" data-parent="#accordion">Футбол</a>
                </div>
            </div>
        </div>
        <div class="main col-md-8 col-xs-12">            
                <div class="main-image-box">
                    <div class="info">                        
                        <p>RosBets is a free web platform for making money online</p>
                    </div>
                    <div class="main-image">
                        <img class="img-responsive" src="~/Content/img/main.jpg" />
                    </div>
                </div>
        </div>
        <div class="cupon-menu col-md-2 col-xs-12">
            <h2>Купон</h2>
        </div>
    </div>
</section>