@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация пользователя</title>
</head>
<body>

<div>
    <form id="edit">
        <table id="edt">
            <tr>
                <td>Имя</td>
                <td><input id="FirstName" name="FirstName"/>
                <span id="errorMsg2" style="color: red" hidden>Введите имя</span></td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td><input id="LastName" name="LastName"/>
                <span id="errorMsg3" style="color: red" hidden>Введите Фамилию</span></td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td><input id="MiddleName" name="MiddleName"/>
                    <span id="errorMsg4" style="color: red" hidden>Введите Отчество</span></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input id="Mail" name="Mail"/>
                    <span id="errorMsg5" style="color: red" hidden>Введите Почту</span></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td><input id="Phone" name="Phone" onkeyup="proverka(this)"/>
                <span id="errorMsg6" style="color: red" hidden>Введите Номер телефона</span></td>
            </tr>
            <tr>
                <td>Город</td>
                <td><input id="City" name="City"/>
                    <span id="errorMsg7" style="color: red" hidden>Введите Город</span></td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td><input type="password" id="Password" name="Password"/><span id="errorMsg" style="color: red" hidden>Пароли не совпадают</span></td>
            </tr>
            <tr>
                <td>Повторите пароль</td>
                <td><input type="password" id="RePass" name="RePass"/></td>
            </tr>
            <tr>
                <td><input type="button" id="Register" name="Register" value="Зарегистрироваться"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

@section scripts{
    @Scripts.Render("~/Scripts/RegisterUser.js");
}