@model List<RosBets.Models.Sport>

    <h2 class="left-menu-header">Линия</h2>
    <!--Championship toggle list start-->
    <div class="sports panel-group toggle-block">
        <div class="panel panel-default">
            @foreach (var sport in Model)
            {
                <div class="toggle-list-header panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sport.Id">@sport.Name</a><!--kind of sport-->
                    </h4>
                </div>
                <div id="@sport.Id" class="panel-collapse collapse toggle-list">
                    <ul class="list-group">
                        <!--Championship list-->
                        @foreach (var championship in sport.Championships)
                        {
                            <li><a href="/Line/@championship.Id">@championship.Name</a></li>
                        }
                    </ul>
                </div>
            }
            <div class="toggle-list-header panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Filter">Ставки</a>
                </h4>
            </div>
            <div id="Filter" class="panel-collapse collapse toggle-list">
                <ul class="list-group">

                    <li><a href="/FilterLine/Index?id=1">Не важно когда</a></li>
                    <li><a href="/FilterLine/Index?id=2">Сегодня</a></li>
                    <li><a href="/FilterLine/Index?id=3">Ближайший час</a></li>
                </ul>
            </div>
            </div>
    </div>
    <!--Championship toggle list end-->

