@model RosBets.ViewModels.CouponViewModel

<div class="right-menu-header">
    <h2>Купон</h2>
</div>

@if (Model.CouponEvents.Count > 0)
{
    foreach (var couponEvent in Model.CouponEvents)
    {
        <div class="col coupon">
            <i class="fa fa-times fa-coupon" aria-hidden="true" data-bind-id = "@($"{couponEvent.EventId}_{couponEvent.MatchId}")" data-event-id ="@couponEvent.Id"></i>
@*            <span class="championship-name coupon-span">Championship</span>*@
            <span class="coefficient-name coupon-span float-span-left">Coefficient</span>
            <span class="coefficient coupon-span float-span-right">@Model.TotalCoefficient</span>
            <span class="coupon-span clearfix"></span>            
        </div>
    }

}
