@model List<string>

<div class="right-menu-header">
    <h2>Купон</h2>
</div>

@if (Model.Count > 0)
{
    foreach (var id in Model)
    {
        <div class="col coupon">
            <i class="fa fa-times fa-coupon" aria-hidden="true" data-bind-id = "@id"></i>
            <span class="championship-name coupon-span">Championship</span>
            <span class="coefficient-name coupon-span float-span-left">Coefficient</span>
            <span class="coefficient coupon-span float-span-right">@id</span>
            <span class="coupon-span clearfix"></span>            
        </div>
    }
}
