
@{
    ViewBag.Title = "";
}
@using System.Web.UI.WebControls
@model RosBets.Models.User

<html>
<body>
@using (Html.BeginForm("", "Money")) { 
    <div>
        @Html.ValidationSummary(true)
        @Html.TextBox("Money")
        <button type="submit" id="put" name="action" value="put">Внести</button>
        <button type="submit" id="pick" name="action" value="pick">Вывести</button>
    </div>
}
</body>
</html>